{% extends "BuskoStyleBundle:Home:basic.html.twig" %}

{% block content %}
	<div class="container-fluid">
		<div class="row-fluid">
                    
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
		
                        <div id="content" class="span10 ">
			<!-- content starts -->
			
                        <div class="row-fluid">
                            <div class="box span12">
                                
					<div class="box-header well">
                                            
						<h2><i class="icon-locked"></i> Add New Repair</h2>
						
					</div>
                                <div class="box-content ">
                                    
                           <div class="pull-right">
                               <a href="{{ path('buses') }}">
                                   <button class="btn btn-large btn-primary">Back to Buses</button>
                        </a>
                           </div>
                                    <br><br>
                                  
                    {{ form_start(form) }}
                    
                    <div class="control-group warning">
      {{form_label(form.licNum, 'Bus License Number',{ 'label_attr': {'class': 'control-label'} })}}                        
                        <div class="controls">
                        {{form_widget(form.licNum,{ 'attr': {'data-rel': 'chosen'} })}}
                               <span class="help-inline">{{ form_errors(form.licNum) }}</span>
                       </div></div>
                                    
                                     <div class="control-group warning">
      {{form_label(form.startDate, 'Start Date',{ 'label_attr': {'class': 'control-label'} })}}
                        
                        <div class="controls">
                        {{form_widget(form.startDate)}}
                               <span class="help-inline">{{ form_errors(form.startDate) }}</span>
                       </div></div>
                         
                                           <div class="control-group warning">
      {{form_label(form.description, 'Description',{ 'label_attr': {'class': 'control-label'} })}}
                        
                        <div class="controls">
                        {{form_widget(form.description)}}
                               <span class="help-inline">{{ form_errors(form.description) }}</span>
                       </div></div>
                                   
                                     <div class="control-group warning">
      {{form_label(form.amount, 'Amount',{ 'label_attr': {'class': 'control-label'} })}}
                        
                        <div class="controls">
                             <div class="input-prepend input-append">
									<span class="add-on">Rs</span>{{form_widget(form.amount)}}<span class="add-on">.00</span>
								  </div>
                        
                               <span class="help-inline">{{ form_errors(form.amount) }}</span>
                       </div></div>
                               <div class="control-group warning">
      {{form_label(form.repairState, 'Status',{ 'label_attr': {'class': 'control-label'} })}}
                        
                        <div class="controls">
                        {{form_widget(form.repairState,{ 'attr': {'data-rel': 'chosen'} })}}
                               <span class="help-inline">{{ form_errors(form.repairState) }}</span>
                       </div></div>
                                    
               <div class="controls">
                        {{form_widget(form.submit,{'attr':{'class':'btn btn-success'}})}}
                           
                       </div>
                                    
    
                                    
                                    
{{ form_end(form) }}
                           </div>      
                      
           </div>
        </div>
    </div>
</div>
{% endblock %}
