{% extends "BuskoStyleBundle:Home:basic.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}


<div class="container-fluid">
    <div class="row-fluid">


        <noscript>
        <div class="alert alert-block span10">
            <h4 class="alert-heading">Warning!</h4>
            <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
        </div>
        </noscript>
        <div id="content" class="span10 ">
            <!-- content starts -->

            <div class="row-fluid">
                       
                                               
                <div class="box span12">

                    <div class="box-header well">

                        <h2><i class="icon-user"></i> Edit Profile Details</h2>
                          

                    </div>
                    <div class="box-content span12 ">
                        <div class="propic" >
                                            <img src="{{asset(user.path)}}" width="200" height="200"></h2>
                                                  </div> 
                                                <form action="{{ path('photo_add') }}" method="post" {{ form_enctype(form2) }}>
                                                    {{ form_widget(form2) }}
                                                    
                                                   <input type="submit" class='btn btn-success' value="Edit profile picture" />
                                                   
                                                </form> 
						 {% trans_default_domain 'FOSUserBundle' %}
                        <table width="90%">
                                                    <th width="60%"></th>
                                                    <th width="40%"></th>
                                                    <tr><td>
                        <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit form-horizontal center">

                            <div class="control-group warning ">
                      {{form_label(form.username, 'Username',{ 'label_attr': {'class': 'control-label'} })}}
                                <div class="controls">
                        {{form_widget(form.username)}}
                                         <span class="help-inline">{{ form_errors(form.username) }}</span>
                                </div></div>

                            <div class="control-group warning">
                      {{form_label(form.email, 'Email Address',{ 'label_attr': {'class': 'control-label'} })}}
                                <div class="controls">
                        {{form_widget(form.email)}}
                                     <span class="help-inline">{{ form_errors(form.email) }}</span>
                                </div></div>

                            <div class="control-group warning">
                      {{form_label(form.first_name, 'First Name',{ 'label_attr': {'class': 'control-label'} })}}
                                <div class="controls">
                        {{form_widget(form.first_name)}}
                                     <span class="help-inline">{{ form_errors(form.first_name) }}</span>
                                </div></div>


                            <div class="control-group warning">
                      {{form_label(form.last_name, 'Last Name',{ 'label_attr': {'class': 'control-label'} })}}
                                <div class="controls">
                        {{form_widget(form.last_name)}}
                                     <span class="help-inline">{{ form_errors(form.last_name) }}</span>
                                </div></div>


                            <div class="control-group warning">
                      {{form_label(form.street_no, 'Street Number',{ 'label_attr': {'class': 'control-label'} })}}
                                <div class="controls">
                        {{form_widget(form.street_no)}}
                                     <span class="help-inline">{{ form_errors(form.street_no) }}</span>
                                </div></div>


                            <div class="control-group warning">
                      {{form_label(form.street, 'Street',{ 'label_attr': {'class': 'control-label'} })}}
                                <div class="controls">
                        {{form_widget(form.street)}}
                                     <span class="help-inline">{{ form_errors(form.street) }}</span>
                                </div></div>

                            <div class="control-group warning">
                      {{form_label(form.city, 'City',{ 'label_attr': {'class': 'control-label'} })}}
                                <div class="controls">
                        {{form_widget(form.city)}}
                                     <span class="help-inline">{{ form_errors(form.city) }}</span>
                                </div></div>

                            <div class="control-group warning">
                      {{form_label(form.branchId, 'Branch',{ 'label_attr': {'class': 'control-label'} })}}
                                <div class="controls">
                        {{form_widget(form.branchId,{'attr':{'data-rel':'chosen'}})}}
                         <span class="help-inline">{{ form_errors(form.branchId) }}</span>
                                </div></div>


                            {{ form_widget(form) }}

                            <div>
                                {{form_label(form.branchId, ' ',{ 'label_attr': {'class': 'control-label'} })}}
                             
                            <div class="controls">
                            <input class ='btn btn-success'type="submit" value="{{ 'profile.edit.submit'|trans }}" />
                            </div>
                            </div>
                        </form>

                                                             </td><td>
                                                           
                                                        </td>
                                                    </tr></table>


                    </div>
                </div>




            </div><!--/row-->





            <!-- content ends -->
        </div><!--/#content.span10-->

    </div><!--/fluid-row-->

</div><!--/.fluid-container-->





{% endblock%}


