{% extends "BuskoStyleBundle:Home:basic.html.twig" %}
{% block login %}
{% endblock %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}


	<div class="container-fluid">
		<div class="row-fluid">
		
			<div class="row-fluid">
				<div class="span3 center login-header">
					<h2><img alt="Bus Ko Logo" src="{{asset('bundles/buskostyle/img/logo.png')}}" width="200" height="190"/></h2>
				</div><!--/span-->
			</div><!--/row-->
                        <br><br><br><br> <br><br><br>
			<div class="row-fluid">
				<div class="well span3 center login-box">
                                       
					

                                        {% trans_default_domain 'FOSUserBundle' %}

                                            <div class="fos_user_user_show">
                                                <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                                                <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
                                                <p>First Name: {{ user.firstName }}</p>
                                                <p>Last Name: {{ user.lastName }}</p>
                                                <p>city: {{ user.city }}</p>
                                                <p>First Name: {{ user.streetNo }}</p>
                                            </div>
				</div><!--/span-->
			</div><!--/row-->
				</div><!--/fluid-row-->
		
	</div><!--/.fluid-container-->


{% endblock%}