{% extends "BuskoStyleBundle:Home:basic.html.twig" %}

{% block content %}

<div class="container-fluid">
		<div class="row-fluid">
                    
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
		
                        <div id="content" class="span10 ">
			<!-- content starts -->
			
                        <div class="row-fluid">
                            <div class="box span12">
                                
					<div class="box-header well">
                                            
						<h2><i class="icon-locked"></i> Add New Driver</h2>
						
					</div>
                                <div class="box-content ">
                                    
                           
                                    {% trans_default_domain 'FOSUserBundle' %}
                    <form name="busko_entitybundle_drivers" method="post" action="/Busko/web/app_dev.php/drivers/create" class='form-horizontal center'>              
                    
                        <div class="control-group warning">
      {{form_label(form.id, 'Employee Number',{ 'label_attr': {'class': 'control-label'} })}}
                        
                        <div class="controls">
                         {% if id is defined %}
                        {{form_widget(form.id,{'value':id,'attr':{'data-rel':"chosen"}})}}
                        {% else %}
                        {{form_widget(form.id,{'attr':{'data-rel':"chosen"}})}}
                         {% endif %} <span class="help-inline">{{ form_errors(form.id) }}</span>
                       </div></div>
                    <div class="control-group warning">
      {{form_label(form.driverLicenceNumber, 'License Number',{ 'label_attr': {'class': 'control-label'} })}}
                        
                        <div class="controls">
                        {{form_widget(form.driverLicenceNumber)}}
                               <span class="help-inline">{{ form_errors(form.driverLicenceNumber) }}</span>
                       </div></div>
                                    
                      
                       
                                    
                                 
                                      <div class="controls">
      {{form_label(form.driverLicenceNumber, ' ',{ 'label_attr': {'class': 'control-label'} })}}
                        
                        <div>
                        {{form_widget(form.submit,{'attr':{'class':'btn btn-success'}})}}
                           
                       </div></div>
                                    
                                    
{{ form_end(form) }}
                    </form>
                    
                                    </div>   
           </div>
        </div>
    </div>
</div>


{% endblock %}


