
{% extends "BuskoStyleBundle:Home:basic.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}


	<div class="container-fluid">
		<div class="row-fluid">
                    
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
		
                        <div id="content" class="span10 ">
			<!-- content starts -->
			
                        <div class="row-fluid">
                            <div class="box span12">
                                
					<div class="box-header well">
                                            
						<h2><i class="icon-locked"></i> Change Password</h2>
						
					</div>
					<div class="box-content span12 ">
                                            
						 {% trans_default_domain 'FOSUserBundle' %}

                                                 <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
   
  
  
                                             <div class="control-group error ">
                      {{form_label(form.current_password, 'Current Password',{ 'label_attr': {'class': 'control-label'} })}}
          
                         <div class="controls">
                        {{form_widget(form.current_password)}}
                                <span class="help-inline">{{ form_errors(form.current_password) }}</span>
                       </div></div>

  <div class="control-group success">
      {{form_label(form.plainPassword.first, 'New Password',{ 'label_attr': {'class': 'control-label'} })}}
                        
                        <div class="controls">
                        {{form_widget(form.plainPassword.first)}}
                               <span class="help-inline">{{ form_errors(form.plainPassword.first) }}</span>
                       </div></div>
                                      
                                                     
                                                     <div class="control-group success">
      {{form_label(form.plainPassword.second, 'Confirm Password',{ 'label_attr': {'class': 'control-label'} })}}
                        
                        <div class="controls">
                        {{form_widget(form.plainPassword.second)}}
                               <span class="help-inline">{{ form_errors(form.plainPassword.second) }}</span>
                       </div></div>
                               {{ form_widget(form._token) }} 
                                                   
                                            
                                           
                               <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class ="btn btn-primary"/>
    </div>
                       </form>                 
					</div>
				</div>
				
			
                          
				
			</div><!--/row-->
			
			
			
					
			
					<!-- content ends -->
			</div><!--/#content.span10-->
			
				</div><!--/fluid-row-->
		
	</div><!--/.fluid-container-->
    
        



{% endblock%}


