{% extends "::base.html.twig" %}

{% block title %}BuskoBranchBundle:BranchSubmission:submitBranch{% endblock %}

{% block body %}

<h1 align ="center"> Please fill the details in the correct format !</h1>
 <section class="container">
     <div class="login">
      <h1>Create Branch</h1>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{form_row(form.branchId)}}        
        <br><br>
        {{form_row(form.phone)}}        
        <br><br>
        {{form_row(form.streetno)}}        
        <br><br>
        {{form_row(form.street)}}        
        <br><br>
        {{form_row(form.city)}}        
        <br><br>
        {{form_widget(form.submit)}}
        {{ form_end(form) }}
    </div>
        
  </section>

{% endblock %}