{% extends "BuskoStyleBundle:Home:basic.html.twig" %}
{% block login %}
{% endblock %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}


<div class="container-fluid">
    <div class="row-fluid">

        <div class="row-fluid">
            <div class="span3 center login-header">
                <h2><img alt="Bus Ko Logo" src="{{asset('bundles/buskostyle/img/logo.png')}}" width="200" height="190"/></h2>
            </div><!--/span-->
        </div><!--/row-->
        <br><br><br><br> <br><br><br>
        <div class="row-fluid">
            <div class="well span3 center login-box">

               {% block fos_user_content %}
               {% if error %}
                <div class="alert alert-info">
		{{ error|trans }}
                </div>

                {% endif %}

                <form action="{{ path("fos_user_security_check") }}" class="form-horizontal" method="post">
                    <fieldset>
                        
                        <div class="input-prepend" title="Username" data-rel="tooltip">
								<span class="add-on"><i class="icon-user"></i></span><input autofocus class="input-large span10" id="username" name="_username"  required="required" type="text" placeholder="type your username" />
							</div>
							<div class="clearfix"></div>

							<div class="input-prepend" title="Password" data-rel="tooltip">
								<span class="add-on"><i class="icon-lock"></i></span><input class="input-large span10" id="password" name="_password" required="required" type="password" placeholder="type your password"/>
							</div>
							<div class="clearfix"></div>

							<div class="input-prepend">
							<label class="remember" for="remember">  <input type="checkbox" id="remember_me" name="_remember_me" value="on" />Remember me</label>
							</div>
							<div class="clearfix"></div>

							<p class="center span5">
							      <input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="{{ 'security.login.submit'|trans }}" />
             
							</p>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

               

                 </fieldset>
                </form>
                                        {% endblock fos_user_content %}
            </div><!--/span-->
        </div><!--/row-->
    </div><!--/fluid-row-->

</div><!--/.fluid-container-->


{% endblock%}